.proj-prev {
  display: none;
  position: relative;
  overflow: hidden;
  &:hover &__desc__heading,
  &:hover &__desc__subtitle {
    transform: translateY(-50px);
  }
  &:hover {
    :after {
      opacity: 1;
    }
  }
  &__desc {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: -30px;
    color: $secondaryTextColor;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 212, 255, 0) 100%
    );
    text-align: left;
    padding: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    &:after {
      content: "Voir";
      display: inline-block;
      padding: 5px 10px;
      border: 2px solid $secondaryTextColor;
      opacity: 0;
      transition: all ease-out 0.4s;
      text-transform: uppercase;
      font-size: 0.9rem;
      position: absolute;
      bottom: 50px;
    }
    &__heading {
      font-family: "Libre Baskerville", serif;
      color: $secondaryTextColor;
      font-size: 2rem;
      font-weight: 400;
      margin: 0;
      line-height: 120%;
      overflow-wrap: break-word;
      transition: all ease-out 0.4s;
      @media (max-width: 576px) {
        font-size: 1.7rem;
      }
    }
    &__subtitle {
      font-size: 0.9rem;
      font-weight: 300;
      color: $secondaryTextColor;
      margin-top: 0;
      transition: all ease-out 0.4s;
    }
  }
  &__image {
    font-size: 0;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
