.cel-filter {
  margin: 0;
  padding: 0;
  width: 60px;
  position: fixed;
  left: 0;
  top: 260px;
  z-index: 2;
  // transition: all ease-in-out 0.5s;
  &__item {
    border: none;
    padding: 10px;
    color: $primaryTextColor;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8em;
    text-decoration: none;
    text-align: left;
    background: none;
    &:hover {
      color: $hoverTextColor;
    }
    &:active {
      border: 1px solid black;
    }
    &:focus {
      border: none;
    }
  }
}
// added to the filtered elements
.show {
  display: block;
}
