.simple-social-icons {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 260px;
  z-index: 5;
  @media (max-width: 576px) {
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 576px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
