* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  color: $primaryTextColor;
  background: $bgColor;
  border: solid 60px white;
  @media screen and (max-width: $breakpointMobile) {
    border: none;
  }
}

// main {
//   margin: 0 auto;
//   width: 80%;
// }

// .main-content {
//   padding: 100px 0;
//   margin: 0 auto;
//   max-width: 900px;
//   width: 80%;
// }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 50px 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #1a1a1a;
  text-decoration: none;
}

.container {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}
