* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  color: $textColor;
  background: $bgColor;
  border: solid 60px white;
}

main {
  margin: 0 auto;
  width: 80%;
}

.main-content {
  padding: 100px 0;

  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 50px 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #1a1a1a;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
