.cel-seemore-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  .cel-seemore {
    position: relative;
    &:hover {
      .cel-seemore-thumbnail img {
        opacity: 0.5;
        transition: all ease-in-out 0.2s;
      }
    }
    .cel-seemore-wording {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 1.3rem;
      font-family: "Libre Baskerville";
    }
    .cel-seemore-thumbnail {
      font-size: 0;
      width: 240px;
      height: 240px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        object-fit: cover;
        opacity: 0.3;
      }
    }
  }
}

.cel-arrow-back {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 50%;
  left: 10px;
  z-index: 5;
  img {
    width: 100%;
  }
}
