footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a:hover {
  color: $hoverTextColor;
}

.footer-content {
  width: 100%;
  padding-top: 10px;
}

.mentions {
  width: 100%;
  margin: 0 auto;
}
.mentions ul {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

.mentions li {
  margin: 0 15px;
}
