.cel-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 10px;
  @media screen and (max-width: $breakpointTablettes) {
    grid-template-columns: 1fr;
  }
}
